/* Variables CSS */
:root{
  /* Colores */
  --font-primary: #555;
  --font-over-primary: #efefef;
  --link-primary-color: #a85289;
  --link-secondary-color: orange;
    /* Nav */
  --nav-link-primary-color: #9ac;

  /* Fondos */
  --bg-white: #fff;
  --bg-light: #efefef;
  --bg-primary: #a85289;
  --bg-secondary: orange;

  /* Sombras */
  --shadow-sm-dark: 0 0 0.75rem -0.35rem rgba(0, 0, 0, 0.25);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter;
}
body{
  background: var(--bg-light);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--font-primary);
  font-size: 16px;
  line-height: 1.6;
}

a{
  color: var(--link-primary-color);
}
a:hover,
a:active,
a:focus{
  color: var(--link-secondary-color);
}

.container{
  margin: 0 1rem;
  transition:all 0.5s ease-in-out;
}
@media (min-width:756px) {
  .container{
    margin: 0 15%;
  }
}

header{
  background: var(--bg-white);
  padding: 1rem;
  box-shadow: var(--shadow-sm-dark);
  position: sticky;
  /* Ejerccios de position */
  top: 0;
  z-index: 3;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  max-width: 3.5rem;
  border-radius: 50%;
}
.header-nav{
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav .header-nav__item{
  padding: 0;
  margin: 0;
  display: inline
}
.header-nav .header-nav__item a{
  color: var(--nav-link-primary-color);
  border-radius:0.15rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.header-nav .header-nav__item a:hover,
.header-nav .header-nav__item a:active,
.header-nav .header-nav__item a:focus{
  background: var(--bg-primary);
  color: var(--font-over-primary);
  outline: none;
}
.header-nav .blog-nav__item a:hover,
.header-nav .blog-nav__item a:active,
.header-nav .blog-nav__item a:focus{
  background-color: var(--bg-secondary);
}

/* Banner */
section.banner{
  box-shadow: var(--shadow-sm-dark);
}
section.banner img{
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  max-height: 30vh;
  height:25vw;
  display: block;
}

/* main */
main{
  min-height: 50vh;
  padding: 4rem 0;
}
main .container{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/* Comportamiento sólo en dipositivos medianos en adelante */
@media (min-width:756px) {

  main .container{
    flex-direction: row;
    gap: 2rem;
  }
  main .container .main-content{
    width: 70%;
  }
  main .container aside {
    width: 30%;
  }

}

main .container .main-content{
  order:1;
}
main .container aside {
  order: 0;
  padding-bottom: 4rem;
}
main .container > *{
  flex-grow: 1;
  flex-basis: content;
}
main p{
  margin: 2rem 0;
  position: relative;
  /* Ejerccios de position */
}
main p.highlight{
  padding: 1rem 1.25rem;
  border-radius: 0.25rem 1rem 1rem 0.25rem;
  background-color:var(--bg-white);
  padding-left: 1.25rem;
}
main p.highlight:before{
  content: " ";
  left: 0.25rem;
  top: 5%;
  border-radius: 0.25rem;
  height: 90%;
  width: 0.25rem;
  position: absolute;
  /* Ejerccios de position */
  background-color: rgb(203, 213, 233);
}
main p:first-child{
  margin-top: 0;
}
main p:last-child{
  margin-bottom: 0;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6{
  font-family: Georgia, Times, 'Times New Roman', serif;
}
h1:first-child,
 h2:first-child,
 h3:first-child,
 h4:first-child,
 h5:first-child,
 h6:first-child{
   margin-top: 0;
 }

main h1{
  margin: 2rem 0;
  font-weight: normal;
}

footer{
  padding: 3rem 0;
  background-color: var(--bg-primary);
  color: var(--font-over-primary);
}
